<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        {% for fruit in fruits %}
            {% if fruit not in hate %}
                {% if fruit|length > 3 %}
                    <p>{{fruit|slice:":2"}}</p>
                    <p>...</p>
                {% elif fruit|length > 1 %}
                    <p>{{fruit|slice:":3"}}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>
</body>
</html>