{% extends 'base.html' %}
{% load bootstrap5 %}
{% load make_link %}
{% block content %}
  <h2><b>DETAIL</b></h2>
  <hr>
  <h3>{{ movie.title }}</h3>
  <br>
  <p>{{ movie|hashtag_link|safe }}</p>
  <br>
  <hr>
  <div class="d-flex">
    {% if user == movie.user %}
      <a href="{% url 'movies:update' movie.pk %}" class="btn btn-outline-warning">영화 정보 수정</a>
      <form action="{% url 'movies:delete' movie.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="영화 정보 삭제" class="btn btn-outline-danger ms-1">
      </form>
    {% endif %}
    <a href="{% url 'movies:index' %}" class="btn btn-outline-secondary ms-1">이전</a>
  </div>
  <hr>
  <h4>댓글 목록</h4>


    {% for comment in comments %}
      <li>
        {{ comment.content }}
        {% if user == comment.user %}
          <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE" class="btn btn-outline-danger ms-5">
          </form>
        {% endif %}
      </li>

    {% endfor %}


  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" value="작성" class="btn btn-outline-primary">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-outline-success">리뷰를 작성하려면 로그인하세요.</a>
  {% endif %}
{% endblock content %}
